<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <%# <a class="blog-nav-item active" href="/signup">Sign up</a>%>
  <%# <a class="blog-nav-item" href="/login">Log in</a>%>
      <a class="blog-nav-item" href="/logout">Log out</a>
  <%# <a class="blog-nav-item" href="http://localhost:4000/blog/article">Make New Post</a>
      <a class="blog-nav-item" href="http://localhost:4000/comment">New Comments</a>%>
      <a class="blog-nav-item" href="/property">About</a>
    </nav>
  </div>
</div>
<br>

<%# <a href="/logout">Logout</a>%>

<h1><%= foundProperty.name %></h1>
<h2><%= foundProperty.year %></h2>
<p>
  <%= foundProperty.message %>
</p>


<form action="/property/<%=foundProperty.id%>" method="post" id="commentform">
  <h2> Comments:</h2>

<div id="comment-name" class="form-row">
  <input type = "User" placeholder = "Name (required)" name = "comment[commenterName]"  id = "name" >
</div>

<div id="comment-message" class="form-row">
  <textarea name = "comment[remarks]" placeholder = "Message" id = "comment" ></textarea>
</div>
<input type="submit" name="submit" id="commentSubmit" value="Submit Comment">


</form>

<ul id="all-comment-boxes">
      <% commentArr.forEach(function(comments) { %>
        <div class="four columns">
           <li>


            <h2> From:  <%= comments.commenterName %> </h2>
            <h4> Remarks: <%= comments.remarks %> </h4>

            </li>

        <div class="six columns">
            <%if(currentUser === String(comments.user_id.id)){%>
            <a class="btn btn-default" href="/comment/<%= comments.id%>/edit" role="button">Edit</a>
            <form method="POST" action="/comment/<%=foundProperty.id%>/comments/<%= comments.id%>?_method=DELETE">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-default" type="submit">Delete</button>
           </form>
           <% } %>
          </div>
       </div>
         <% }) %>
     </ul>
