<%# <h1>Hey Logged in User</h1>%>

<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <%# <a class="blog-nav-item active" href="/signup">Sign up</a>%>
      <%# <a class="blog-nav-item" href="/login">Log in</a>%>
      <a class="blog-nav-item" href="/logout">Log out</a>
      <%# <a class="blog-nav-item" href="http://localhost:4000/blog/article">Make New Post</a>
      <a class="blog-nav-item" href="http://localhost:4000/comment">New Comments</a>%>
      <a class="blog-nav-item" href="/property">About</a>
    </nav>
  </div>
</div>
<br>

 <% if(message.length > 0) { %>
  <h2>FLASH FOUND</h2>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>
<%# <a href="/logout">Logout</a>%>

<ul id="all-property-boxes">
    <% propertyArr.forEach(function(property) { %>
      <div class="four columns">
        <li>
          <h2> <%= property.name %> </h2>
          <p> <%= property.year %> </p>
          <p> <%= property.message %> </p>
        </li>
           <a href="/property/<%= property._id %>"> <button class="btn btn-default btn-primary" href="property/property._id" role="button">Comment</button></a>
      </div>
    <% }) %>
</ul>
